<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.idims">
    <!-- GPSプロバイダーの許可 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- バックグラウンドでの位置情報の取得の許可 -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <!-- インターネットのパーミッション許可-->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- 19行目にURLを使用できるように追記している(android:usesCleartext...のところ)-->
    <application
        android:allowBackup="true"
        android:name=".StatusFlag"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.IDIMS">
        <activity
            android:name=".Menu.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".SearchResultMapActivity"
            android:exported="true" /> <!-- なんかうまく許可をとってくれないので追記 -->
        <!-- <uses-library android:name="org.apache.http.legacy" android:required="false"/> -->
        <activity
            android:name=".HomeActivity"
            android:exported="true" /> <!-- APIキーの記述 -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDy8LqOFFXeRlbf-0eZEQWwFwVJleCfxHg" />

        <activity
            android:name=".Setting"
            android:exported="false" />
        <activity
            android:name=".SearchResultListActivity"
            android:exported="false" />
        <activity
            android:name=".SelectAreaActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.IDIMS.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Researcher.ChangePasswordActivity"
            android:exported="true" />
        <activity
            android:name=".Researcher.SensorListActivity"
            android:exported="true" />
        <activity
            android:name=".Researcher.ResearcherPageActivity"
            android:exported="true" />
        <activity
            android:name=".DisasterSearchActivity"
            android:exported="true" />
        <activity
            android:name=".Researcher.ResearcherLogin"
            android:exported="true" />
        <activity
            android:name=".Authenticate"
            android:exported="false" />
        <activity
            android:name=".Area.MunicipaliteSelect"
            android:exported="false" />
        <activity
            android:name=".Area.PrefectureSelectActivity"
            android:exported="false" />
        <activity
            android:name=".Area.AreaListActivity"
            android:exported="false" />
        <activity
            android:name=".Area.RegionSelectActivity"
            android:exported="false" />
    </application>

</manifest>